{% load static %}
<!--<!DOCTYPE html>-->
<html>
<head>
	<title>BARCQ</title>
	
	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbars/">

    <!-- Bootstrap core CSS -->
	<link href="{% static '/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static '/css/font-awesome/css/all.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="../../../static/css/tabstyle.css"> 
	<link rel="stylesheet" href="../../../static/css/grid.css">
	<link rel="stylesheet" href="../../../static/css/popup.css">

	<script src = "../../../static/jsonschemas/allowedUserDefinedGate.json"></script>
	<script src = "../../../static/jsonschemas/gatesUIExtended.json"></script>
	<script src = '../../../static/js/jquery.js'> </script>
    <script src = '../../../static/js/jquery-ui.js'> </script>
    <script src="../../../static/js/createdropzone.js"></script>
    <script src = "../../../static/js/globalvars.js"></script>
    <script src = "../../../static/js/toolbox_v2.js"></script>
    <script src = "../../../static/js/cloneanddrag_v2.js"></script>
    <script src = "../../../static/js/selectanddelete.js"></script>
    <script src = "../../../static/js/mergeandunmerge.js"></script>
    <script src = "../../../static/js/gridtojson.js"></script>
    <script src = "../../../static/js/savefile.js"></script>
    <script src = "../../../static/js/core.js"></script>
    <script src = "../../../static/js/loadjson.js"></script>
    <script src = "../../../static/js/loadfile.js"></script>
    <script src = "../../../static/js/d3.v3.min.js"></script>
    <script src = "../../../static/js/gridinputlines.js"></script>
    <script src = "../../../static/js/redesigngrid.js"></script>
    <script src = "../../../static/js/gatessymbol.js"></script>
    <script src = "../../../static/js/userdefinedcontrolgates.js"></script>
	<script src = "../../../static/js/checkdiv.js"></script>
	<script src="../../../static/js/tabbedInterface.js"></script>
	<script src="../../../static/js/plotly-latest.min.js"></script>
  <script src="../../../static/js/dynamicListUpdate.js"></script>

	<script>
	    $(document).ready(function(){
	    	CreateToolBox();
	    	CreateDropzone();
	    	//MakeCloneAble();
	    	//AttachSelectAndDelete();
			 AttachDraggableEvents();
             AttachDroppableEvents();
             console.log("************* Executing Core TEst *************");
	    	CoreTest();
	    	console.log("******************************************");
	    	$("#mergebutton").click(function(){
        	    GridToJson();
 			});
 			/*$("#loadbutton").click(function(){
        	    LoadJson();
 			});*/
 			AddInputLinesToGrid();
 			InsertConnectorOnGrid();
 			ControlGateInitialization();
 			$("#create").click(function(){
 				StoreDivIds();	
 			});
 			
 			//----------------------------------
 			$(".trigger_popup_fricc").click(function(){
				$('.hover_bkgr_fricc').show();
			});
			
			/*$('.hover_bkgr_fricc').click(function(){
				//  $('.hover_bkgr_fricc').hide();
			});
			$('.popupCloseButton').click(function(){
					$('.hover_bkgr_fricc').hide();
			});
			$('.popupSetButton').click(function(){
				//Set the required variable and hide
				ctl_bits_array=$("#ctl_bits_field").val().split(",");
				unitaryControlRowIds=ctl_bits_array;
				//alert("Length of ctl array : "+ctl_bits_array.length )
				tgt_bits_array=$("#tgt_bits_field").val().split(",");
				unitaryTargetRowIds=tgt_bits_array;
				//alert("Length of tgt array : "+tgt_bits_array.length )
				//alert("Num_bits : "+(ctl_bits_array.length+tgt_bits_array.length))
				$('.hover_bkgr_fricc').hide();
				UpdateGenericControlGate();
			});*/

			$('.hover_bkgr_fricc').click(function(){
                //  $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function(){
                    $('.hover_bkgr_fricc').hide();
            });
            //$('.popupSetButton').click(function(){
            $('#gateSetButton').click(function(){
                //Set the required variable and hide
                ctl_bits_array=$("#ctl_bits_field").val().split(",");
                unitaryControlRowIds=ctl_bits_array;
                //alert("Length of ctl array : "+ctl_bits_array.length )
                tgt_bits_array=$("#tgt_bits_field").val().split(",");
                unitaryTargetRowIds=tgt_bits_array;
                //alert("Length of tgt array : "+tgt_bits_array.length )
                //alert("Num_bits : "+(ctl_bits_array.length+tgt_bits_array.length))
                $('.hover_bkgr_fricc').hide();
                //UpdateGenericControlGate(obj);
                UpdateGenericControlGate();
            });
            
            $('#phaseSetButton').click(function(){
					gateObj.attr("arg_value",$("#phase_field").val());
					$('.hover_bkgr_fricc').hide();
					ModifyParentDiv(gateObj.parent());
					GenerateCode();
			});
            
			//-----------------------------------------

 			//Trying to call server side function written in cherryPy
 		// 	$("#submitButton").click(function(e){
   //                      $.post("CodeGenerator/",{"jsonObj" : JSON.stringify(circuitJsonObj)},function(data) {
   //              			console.log("Reverse function calle........");
   //              			data=JSON.parse(data);
   //              			console.log("---- Printing returned JSON ----")
   //              			console.log(data);
   //                          //$("#title").html(data["title"]) ;
   //                          console.log("Plot X : "+data["xdata"])
   //                          console.log("Plot Y : "+data["ydata"])
   //                          $("#title").html(data["ydata"]) ;
   //                          //xdata=data["xdata"];
   //                          xStringData=[]
   //                          for(var index=0;index<data["xdata"].length;index++){

   //                          	xStringData.push(data["xdata"][index]+"t");

   //                          }

   //                          sumData[0]["x"]=xStringData; //data["xdata"].toString();
   //                          sumData[0]["y"]=data["ydata"];
   //             	})
            //      .done(function() {
            //    		console.log("Server side function called........");
            // 	});
           	// e.preventDefault();

            /*
			//This also works, keeping it just for the future reference
            var request = $.ajax({'url': '/CodeGenerator'});
           	request.done(function(response) {
		        //$('#foo').text(response.foo);
		        //$('#baz').text(response.baz);
		        console.log("Data Received : "+response);
		        $("#title").html(response);
		      });*/

            // });

 			$("#submitButton").click(function(e){
 				$.ajax({
					  "url": 'CodeGenerator/',
					  "method": "POST",
					  "headers": {'X-CSRFToken': '{{ csrf_token }}'},
					  "data": JSON.stringify(circuitJsonObj),
					  "dataType": "json",
					  "success":function(rcvd_data) {
                    		console.log("*********data from server***********")
                    		data = JSON.parse(rcvd_data);
                    		console.log("data received")
							console.log("---- Printing returned JSON ----")
                 			console.log(data);
							console.log("Plot X : "+data["xdata"])
                            console.log("Plot Y : "+data["ydata"])
	                        $("#title").html(data["ydata"]) ;
                            //xdata=data["xdata"];
                            xStringData=[]
                            for(var index=0;index<data["xdata"].length;index++){

                            	xStringData.push(data["xdata"][index]+"t");

                            }

                            sumData[0]["x"]=xStringData; //data["xdata"].toString();
                            sumData[0]["y"]=data["ydata"];
					  }
                    }) 
                    	.done(function() {
                		console.log("Server side function called........");
             			});
           	 			e.preventDefault();

 			});
			$("#saveDatabase").click(function(e){
       
				var filename = prompt("Name of the circuit", "MyCircuit")
				if(filename!=null){
          circuit_data = JSON.stringify(circuitJsonObj);
					$.ajax({
					  "url": 'SaveCircuit/customer_id/',
					  "method": "POST",
					  "headers": {'X-CSRFToken': '{{ csrf_token }}'},
					  "data": {'filename':filename, 'circuit_data':circuit_data},
					  "dataType": "json",
					  "success":function(rcvd_data) {
                    	window.alert("Circuit saved successfully")
                      addItem(rcvd_data);
                            
					  }
                    }) 
                    	.done(function() {
                		console.log("Circuit saved in database........");
             			});
           	 			e.preventDefault();
				}

 			});
      document.getElementById("defaultOpen").click();
		});
  
	</script>

	<style type="text/css">
		/*
 		* Footer
 				*/
		.mastfoot {
		  color: rgba(0, 0, 0, .5);
}
	</style>
</head>
<body>
	{% include 'frontend/navbar.html' %}
 

	{% block content %}






	{% endblock %}

	<hr>
	<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>By Bhabha Atomic Research Centre <a href="https:\\..."></a>, Send your feedback to <a href="mailto:supratim@barc.gov.in">Team BARCQ</a>.</p>
    </div>
  </footer>

	
</body>
<!-- <script src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/jquery-3.5.1.slim.min.js' %}"></script> -->

</html>